* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  height: 500vh;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  transform: translateY(0);
  background-color: #FECC00;
  transition: 90ms ease-in;
}
header .main {
  background-color: #FECC00;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 10px;
}
header .main .first-line {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
header .main .first-line img {
  width: 210px;
  width: 61.25;
  margin-right: -160px;
}
header .main .first-line form {
  margin-top: 15px;
  display: flex;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  overflow: hidden;
  width: 510px;
  height: 45px;
  margin-bottom: 5px;
  position: relative;
}
header .main .first-line form input[type=search] {
  border: none;
  width: 362px;
  height: 100%;
  padding: 0 14px;
  font-size: 1.5rem;
  outline: none;
}
header .main .first-line form input::placeholder {
  color: #757575;
}
header .main .first-line form button {
  background-color: red;
  border: none;
  height: 100%;
  width: 45px;
  margin: 0;
  background-color: white;
  position: absolute;
  right: 0;
}
header .main .first-line form button i {
  font-size: 1.5rem;
}
header .main .first-line form button:hover {
  background-color: #ececec;
}
header .main .first-line .list {
  display: flex;
  font-family: arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
}
header .main .first-line .list span {
  color: #757575;
}
header .main .first-line .list ul {
  display: flex;
  font-family: arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
}
header .main .first-line .list ul a {
  color: #757575;
  padding-left: 3px;
}
header .main .first-line .list ul a:hover {
  color: #333;
}
header .main .first-line .btn-rate {
  width: 165px;
  height: 30px;
  align-self: center;
  border: none;
  background-color: black;
  padding: 0 10px;
}
header .main .first-line .btn-rate i {
  font-size: 14px;
  color: white;
  margin-right: 5px;
}
header .main .first-line .btn-rate span {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fdfffa;
  font-family: "montserrat";
}
header .main .sec-line {
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .main .sec-line nav {
  padding: 12px 0;
}
header .main .sec-line nav ul {
  display: flex;
}
header .main .sec-line nav ul a {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #333;
  font-family: "montserrat", Arial, Sans-Serif;
  font-weight: 600;
  padding: 12px 20px;
}
header .main .sec-line nav ul a:hover {
  background: hsla(0, 0%, 100%, 0.4);
}
header .main .sec-line .test .my-account {
  height: 100%;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  background-color: #1CA2EB;
  border: none;
  font-family: "montserrat";
}
header .main .sec-line .test .my-account i {
  font-size: 2rem;
  color: white;
}
header .main .sec-line .test .my-account-hover {
  display: none;
  border: 0.1px solid rgb(198, 198, 198);
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;
  background: rgb(255, 255, 255);
  padding: 30px;
}
header .main .sec-line .test .my-account-hover i {
  color: white;
  font-size: 4.2rem;
  position: absolute;
  right: 15px;
  top: -20px;
}
header .main .sec-line .test .my-account-hover button {
  background-color: rgb(152, 89, 89);
  font-size: 1.4rem;
  display: block;
  padding: 15px 20px;
  width: 220px;
  height: 50px;
  text-align: center;
  border: none;
  font-family: "montserrat";
  font-weight: 600;
  text-transform: uppercase;
}
header .main .sec-line .test button:nth-child(2) {
  margin-bottom: 20px;
  border: 1px solid #1CA2EB;
  background-color: white;
  color: #1CA2EB;
}
header .main .sec-line .test button:nth-child(3) {
  color: white;
  background-color: #1CA2EB;
}
header .main .sec-line .test:hover .my-account-hover {
  display: block;
}
header .third-line {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
header .third-line p {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "montserrat";
  margin-right: 90px;
}

main {
  padding-top: 150px;
  background-color: #f2f2f2;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
